{% extends "layout.html" %}
{% block content %}
    <style>
  .img-fluid {
  max-width: 60%;
  height: auto;
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
  }
      
  #form_length {
  max-width: 40%;
  }
   @media screen and (max-width: 479px) {
    .img-fluid {
     max-width: 100%;
     height: auto;
     }
     #form_length {
     max-width: 100%;
     }
    }
    </style>
    <script>
        function clearBox(elementID) {
            document.getElementById(elementID).innerHTML = ""; }
    </script>


     <div>
            <form id="form_length"  method="POST" action="/search">
                <div class="form group">
                    <input type="text" size="150" type="submit"
                           name="search_results" class="form-control"
                           id="searchTerm" placeholder="Enter Search Term"><br>
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                    <button type="button" class="btn btn-outline-primary" onclick="alert('This button will save!')">Save</button>
                    <button type="button" class="btn btn-outline-primary" onclick="clearBox('clear_search')">Clear</button>
                    <br>
                </div>
            </form>
     </div>
    <div class="container">
        <div id="clear_search">
            <h1 style="text-align:center">{{ search_term }}</h1><br>
            <img src="{{ unsplash_pic }}" class="img-fluid">
            <p>{{ wik_summary }}</p>
             {% if search_term %}
                 <p><b>For the rest of the article<a href="{{ full_url }}" target="_blank"> Click Here</a></b></p>
             {% endif %}
        </div>
    </div>

{% endblock content %}

