{% extends "layout.html" %}
{% block content %}
<article class="media-content-section">
    <div class="media-body">
        <h2 class="article-title">{{ source.title}}</h2>
        <p class="article-content">{{ source.content }}</p>
    </div>
    <div class="article-metadata">
        <a class="mr-2" href="#">{{ source.user_id.user }}</a>
        <small class="text-muted">Accessed on {{ source.date_posted.strftime('%Y-%m-%d') }}</small>
        <small class="text-muted">Full article: <a class="mr-2" href="#">{{ source.url }}</a></small>
    </div>
</article>
{% endblock content %}